@model MediaMarketplace.Models.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="content-container dashboard-container">
    <div class="site-section licenses-purchased">
        <h2>Licenses Purchased</h2>
        @if (Model.LicensesPurchased.Count == 0)
        {
            <div class="notification">You have not purchased any licenses.</div>
        }
        else
        {
            foreach (var l in Model.LicensesPurchased)
            {
                <div class="item-wrap">
                    <div class="copyright-name">@l.copyright.copyright_name</div>
                    <div class="license-type">License: @l.license_sale_type</div>
                    <div class="date">Valid: @l.license_sale_start_date.ToString("MMM d, yyyy") - @l.license_sale_end_date.ToString("MMM d, yyyy")</div>
                    <div class="license-cost">Cost: $@Math.Round(l.license_sale_sales_price, 2)</div>
                </div>
            }
        }
    </div>
    <div class="site-section copyrights">
        <h2>All My Copyrights</h2>
        @if (Model.AllMyCopyrights.Count == 0)
        {
            <div class="notification">You have no copyrights.</div>
        }
        else
        {
            foreach (var f in Model.AllMyCopyrights)
            {
                var isActive = (f.copyright_active) ? "True" : "False";
                <div class="item-wrap">
                    <div class="media-name">Name: <span>@f.copyright_name</span></div>
                    <div class="media-active">Is Active: <span>@isActive</span></div>
                    <div class="media-type">Media Type: <span>@f.copyright_media_type</span></div>
                </div>
            }
        }
    </div>
    <div class="site-section copyrights-purchased">
        <h2>Copyrights Purchased</h2>
        @if (Model.CopyrightsPurchased.Count == 0)
        {
            <div class="notification">You have not purchased any copyrights.</div>
        }
        else
        {
            foreach (var s in Model.CopyrightsPurchased)
            {
                <div class="item-wrap">
                    <div class="copyright-name">@s.copyright.copyright_name</div>
                    <div class="copyright-sale-price">Cost: $@Math.Round(s.copyright_sale_sale_price, 2)</div>
                </div>
            }
        }
    </div>
    <div class="site-section copyrights-sold">
        <h2>Copyrights Sold</h2>
        @if (Model.CopyrightsSold.Count == 0)
        {
            <div class="notification">You have not sold any copyrights.</div>
        }
        else
        {
            foreach (var s in Model.CopyrightsSold)
            {
                <div class="item-wrap">
                    <div class="copyright-name">Cost: @s.copyright.copyright_name</div>
                    <div class="copyright-sale-price">$@Math.Round(s.copyright_sale_sale_price, 2)</div>
                </div>
            }
        }
    </div>
</div>