@using MediaMarketplace.Models.ViewModels
@{
    ViewBag.Title = "Register or Login";
}

<div class="content-container register-login-container">
    <h2>Create an Account</h2>
    <div class="site-section register">
        <form class="form" method="post" action="/Account/RegisterSubmit">
            <fieldset>
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "email", LabelText = "Email" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "phone-number", LabelText = "Phone Number" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "password", LabelText = "Password" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "password-confirm", LabelText = "Confirm Password" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "first-name", LabelText = "First Name" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "last-name", LabelText = "Last Name" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "business-name", LabelText = "Business Name" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "address", LabelText = "Address" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "region", LabelText = "Region" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "postal-code", LabelText = "Postal Code" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "bank-account", LabelText = "Bank Account" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "routing-number", LabelText = "Routing Number" })
                @Html.Partial("/Views/Shared/_FormSubmit.cshtml", new FormSubmitViewModel { ButtonText = "Create User" })
            </fieldset>
        </form>
        <div class="submit-results">
            <div class="success register-success">
                You successfully created a user.
            </div>
            <div class="failure register-failure">
                There was an issue creating your user.
            </div>
        </div>
    </div>
    <h2>Login</h2>
    <div class="site-section login">
        <form class="form" method="post" action="/Account/LoginSubmit">
            <fieldset>
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "email", LabelText = "Email" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "password", LabelText = "Password" })
                @Html.Partial("/Views/Shared/_FormSubmit.cshtml", new FormSubmitViewModel { ButtonText = "Login" })
            </fieldset>
        </form>
        <div class="submit-results">
            <div class="failure register-failure">
                Your email or password was incorrect.
            </div>
        </div>
    </div>
</div>