@using MediaMarketplace.Models.ViewModels
@model AccountInfoViewModel
@{
    ViewBag.Title = "Update Account Information";
}

<div class="content-container account-info-container">
    <h2>Update Account Information</h2>
    <div class="site-section account-info">
        <form class="form" method="post" action="/Account/UpdateAccountInfoSubmit">
            <fieldset>
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "email", LabelText = "Email" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "phone-number", LabelText = "Phone Number" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "password", LabelText = "Password" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "password-confirm", LabelText = "Confirm Password" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "first-name", LabelText = "First Name" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "last-name", LabelText = "Last Name" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "business-name", LabelText = "Business Name" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "address", LabelText = "Address" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "region", LabelText = "Region" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "postal-code", LabelText = "Postal Code" })
                @Html.Partial("/Views/Shared/_FormSubmit.cshtml", new FormSubmitViewModel { CssClass = "update-account-submit", ButtonText = "Update Account" })
            </fieldset>
        </form>
        <div class="submit-results">
            <div class="success register-success">
                You successfully updated your account.
            </div>
            <div class="failure register-failure">
                There was an issue updating your account.
            </div>
        </div>
    </div>
</div>