<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Media Marketplace</title>
    <link href="/assets/css/site.css?x=@(new System.Random().Next())" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="site-name">Digital Media Marketplace</div>
        <div class="navbar">
            <ul class="topitems">
                <li>
                    Home
                    <ul class="subitems">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                    </ul>
                </li>
                <li>
                    Account
                    <ul class="subitems">
                        <li>@Html.ActionLink("Activity Summary", "ActivitySummary", "Account")</li>
                        <li>@Html.ActionLink("Add Payment Info", "AddPaymentInfo", "Account")</li>
                        <li>@Html.ActionLink("Register or Login", "RegisterLogin", "Account")</li>
                        <li>@Html.ActionLink("Update Account Info", "UpdateAccountInfo", "Account")</li>

                    </ul>
                </li>
                <li>
                    Copyrights
                    <ul class="subitems">
                        <li>@Html.ActionLink("Add Copyright", "AddCopyright", "Copyright")</li>
                        <li>@Html.ActionLink("Buy Copyright", "BuyCopyright", "Copyright")</li>
                        <li>@Html.ActionLink("Sell Copyright", "SellCopyright", "Copyright")</li>
                        <li>@Html.ActionLink("Buy License", "BuyLicense", "Copyright")</li>
                        <li>@Html.ActionLink("Add License", "AddLicense", "Copyright")</li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <h1>@ViewBag.Title</h1>
        @RenderBody()
        @Html.Partial("/Views/Shared/_ProgressIndicator.cshtml")
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/assets/js/global.js"></script>
    <script src="~/assets/js/account.js"></script>
    <script src="~/assets/js/copyright.js"></script>
</body>
</html>
