@using MediaMarketplace.Models.ViewModels
@{
    var thisModel = (LayoutViewModel)ViewBag.LayoutViewModel;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Media Marketplace</title>
    <link href="/assets/css/site.css?x=@(new System.Random().Next())" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="site-name">
            <a href="/">
                Digital Media Marketplace
            </a>
        </div>
        <div class="navbar">
            <ul class="topitems">
                <li>
                    Account
                    <ul class="subitems">
                        @if (thisModel.IsUserLoggedIn)
                        {
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                            <li>@Html.ActionLink("View Payment Info", "ViewPaymentInfo", "Account")</li>
                            <li>@Html.ActionLink("Add Payment Info", "AddPaymentInfo", "Account")</li>
                            <li>@Html.ActionLink("Update Account Info", "UpdateAccountInfo", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Register or Login", "RegisterLogin", "Account")</li>
                        }
                    </ul>
                </li>
                @if (thisModel.IsUserLoggedIn)
                {
                    <li>
                        Copyrights
                        <ul class="subitems">
                            <li>@Html.ActionLink("Add Copyright", "AddCopyright", "Copyright")</li>
                            <li>@Html.ActionLink("Buy Copyright", "BuyCopyright", "Copyright")</li>
                            <li>@Html.ActionLink("Sell Copyright", "SellCopyright", "Copyright")</li>
                            <li>@Html.ActionLink("Buy License", "BuyLicense", "Copyright")</li>
                            <li>@Html.ActionLink("Add License", "AddLicense", "Copyright")</li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
        @if (thisModel.IsUserLoggedIn)
        {
            <div class="profile-nav">
                @Html.Partial("/Views/Account/_ProfileNav.cshtml", thisModel.UserName)
            </div>
        }
    </header>
    <div class="content">
        @RenderBody()
        @Html.Partial("/Views/Shared/_ProgressIndicator.cshtml")
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/assets/js/global.js"></script>
    <script src="~/assets/js/login.js"></script>
    <script src="~/assets/js/register.js"></script>
    <script src="~/assets/js/payinfo.js"></script>
    <script src="~/assets/js/copyright.js"></script>
</body>
</html>
