@using MediaMarketplace.Models.ViewModels
@{
    var thisModel = (LayoutViewModel)ViewBag.LayoutViewModel;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Media Marketplace</title>
    <link href="/assets/css/site.css?x=@(new System.Random().Next())" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="site-name">
            <a href="/">
                Digital Media Marketplace
            </a>
        </div>
        <div class="navbar">
            <ul class="topitems">
                @if (thisModel.IsUserLoggedIn)
                {
                    <li>
                        Account
                        <ul class="subitems">
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Account")</li>
                            <li>@Html.ActionLink("Update Account Info", "UpdateAccountInfo", "Account")</li>
                            <li>@Html.ActionLink("View Payment Info", "ViewPaymentInfo", "Account")</li>
                            <li>@Html.ActionLink("Add Payment Info", "AddPaymentInfo", "Account")</li>
                        </ul>
                    </li>
                    <li>
                        Copyrights
                        <ul class="subitems">
                            <li>@Html.ActionLink("Add Copyright", "AddCopyright", "Copyright")</li>
                            <li>@Html.ActionLink("View Copyrights", "ViewCopyrights", "Copyright")</li>
                            <li>@Html.ActionLink("Buy Copyright", "BuyCopyright", "Copyright")</li>
                            <li>@Html.ActionLink("Sell Copyright", "SellCopyright", "Copyright")</li>
                        </ul>
                    </li>
                    <li>
                        Licenses
                        <ul class="subitems">
                            <li>@Html.ActionLink("Manage Licenses", "ManageLicense", "License")</li>
                            <li>@Html.ActionLink("Buy License", "BuyLicense", "License")</li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <div class="profile-nav">
            @if (thisModel.IsUserLoggedIn)
            {
                <text>Hi, @thisModel.UserName - <a href="/Account/Logout">Logout</a></text>
            }
            else
            {
                @Html.ActionLink("Register or Login", "RegisterLogin", "Account")
            }
        </div>
    </header>
    <div class="content">
        @RenderBody()
        @Html.Partial("/Views/Shared/_ProgressIndicator.cshtml")
    </div>
    <footer>
        <p>Digital Media Marketplace &copy; @DateTime.Now.Year - an Artful Dodger company</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/assets/js/global.js"></script>
    <script src="~/assets/js/login.js"></script>
    <script src="~/assets/js/register.js"></script>
    <script src="~/assets/js/payinfo.js"></script>
    <script src="~/assets/js/accountinfo.js"></script>
    <script src="~/assets/js/copyright-add.js"></script>
    <script src="~/assets/js/copyright-activation.js"></script>
    <script src="~/assets/js/copyright-sell.js"></script>
    <script src="~/assets/js/copyright-buy.js"></script>
    <script src="~/assets/js/license-manage.js"></script>
    <script src="~/assets/js/license-buy.js"></script>
</body>
</html>
